<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout}">

<head>
    <meta charset="UTF-8">
    <title>Trang chủ - WOMTech</title>
    <th:block layout:fragment="css">
        <link th:href="@{/css/style.css}" rel="stylesheet">
    </th:block>
</head>

<body>
    <div layout:fragment="content">
        <div class="container text-center py-5">
            <h1 class="mb-3">🏠 WOMTech</h1>
            <h3 th:text="'Chào bạn ' + ${session.CURRENT_USERNAME} + ' tới trang chủ!'"></h3>
        </div>
    </div>
</body>
</html>
